@import 'variables';

/* SETEOS GENERALES*/

body.meli {
	font: 12px/1.4 arial, helvetica, sans-serif;
	color: $base;
	background: $bg;
	padding: 0;
}

.meli {
	.layout {
		width: 100%;
		max-width: 1024px;
		margin: 0 auto;
		padding: 1em;
	}


	main {
		.layout{
			background: $white;
		}
	}
}