@import 'reset';
@import 'variables';
@import 'mixins';

/* SETEOS GENERALES*/

body {
	font: 12px/1.4 arial, helvetica, sans-serif;
	color: $base;
}

.layout {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
}

.product-detail,
.img-cont{
	width: 45%;
}

.img-cont{
	float: left;
	img {
		width: 100%;
	}
}

.product-detail {
	float: right;
	fieldset{
		border: none;
		padding-left: 0;
		padding-right: 0;
	}
}