@import 'reset';
@import 'variables';
@import 'mixins';

/* SETEOS GENERALES*/

body {
	font: 12px/1.4 arial, helvetica, sans-serif;
	color: $base;
	background: $bg;
}

.layout {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	padding: 1em;
}

header{
	background: #fff059;
	margin-bottom:30px;
}
main {
	.layout{
		background: $white;
	}
}
.product-details {
	overflow:hidden;
	.img-cont{
		float: left;
		width: 40%;
		img {
			width: 100%;
		}
	}
	.product-detail {
		float: right;
		width: 58%;
		form{
			margin-bottom: 30px;
		}
		fieldset{
			border: none;
			padding-left: 0;
			padding-right: 0;
		}
		label {
			margin-right: 10px;
		}
		input[type=submit] {
			margin-bottom: 10px;
		}
	}
	.test-carousel li {
		width: 100px;
		height: 100px;
		border: 2px solid $borders;
	}

	.test-carousel li img {
		width: 100%;
		display: block;
	}
}

.tabs {
	position: relative;   
	min-height: 200px; /* This part sucks */
	clear: both;
	margin: 25px 0;
	.tab {
		float: left;
	}
	.tab label {
		background: #eee; 
		padding: 10px; 
		border: 1px solid #ccc; 
		margin-left: -1px; 
		position: relative;
		left: 1px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	.tab [type=radio] {
		display: none;   
	}
	.content {
		position: absolute;
		top: 28px;
		left: 0;
		background: white;
		right: 0;
		bottom: 0;
		padding: 20px;
		border: 1px solid #ccc; 
	}
	[type=radio]:checked ~ label {
		background: white;
		border-bottom: 1px solid white;
		z-index: 2;
	}
	[type=radio]:checked ~ label ~ .content {
		z-index: 1;
	}
}
